body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.number-container{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#first-num{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-decoration: underline;
    margin-right: 5px;
}
#second-num{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-decoration: underline;
    margin-right: 5px;
}
#first-row{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
#first-row>button{
    background-color: white;
    border: solid 1px;
    text-align: center;
    margin-bottom: 50px;
}
#first-row > button:hover{
    cursor: pointer;
    background-color: lightblue;
}
#add{
    padding: 10px 40px;
}
#sub{
    padding: 10px 30px;
}
#div{
    padding: 10px 35px;
}
#second-row{
    display: flex;
    justify-content: center;
}
#second-row > button:hover{
    cursor: pointer;
    background-color: lightblue;
}
#multiply{
    background-color: white;
    border: solid 1px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 30px;
}
#final-row{
    display: flex;
    justify-content: center;
}
#result{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-decoration: underline;
}